#user {
  > .header {
    padding: 8px;
    background-color: #444;
    text-align: center;
    line-height: 1.5em;
    color: #f1f1f1;
  }

  > .next {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 8px 16px;
    cursor: pointer;
  }
}
